.codec{
  padding: 10em 0;
}

input.codec-button{
  margin: 0 1em 1em 0;
}

input.codec-button.active, input.codec-button.active:hover, input.codec-button.active:focus{
  border-color: DODGERBLUE;
  background-color: DODGERBLUE;
}

#codec-message{
  padding: 1em 0;
}