.codec {
  padding: 5em 0;
}
input.button-primary {
  margin: 0 0.5em 0.5em 0;
  padding: 0 1em;
}

input.button-primary:last-child {
  margin-right: 0;
}

input.codec-button.active, input.codec-button.active:hover, input.codec-button.active:focus, a.codec-button {
  color: white;
  border-color: DODGERBLUE;
  background-color: DODGERBLUE;
}

#codec-message {
  padding: 1em 0;
}

#codec-encode, #codec-decode {
  overflow-y: hidden;
  size: auto;
  color: black;
}
button#codec-direction {
  background-color: white;
  font-size: 20px;
  padding: 0;
}
div#codec-direction-arrow {
  color: black;
}

body {
  background-color: #2661c2;
  color: white;
}

/* Larger than mobile */
@media (min-width: 400px) {


}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  button#codec-direction{
    transform:translateY(100%)
  
  }
}

/* Larger than tablet */
@media (min-width: 750px) {


}

/* Larger than desktop */
@media (min-width: 1000px) {
  input.button-primary{
    margin: 0 1em 1em 0;
    padding: 0 1.5em;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}